.input_main {
  display: block;
  font-size: 1rem;
  background-color: transparent;
  width: 100%;
  height: 2.8rem;
  padding: 0.8rem 1.1rem;
  border: 0.1rem solid #4D4D4D;
  border-radius: 3.3rem;
}

.input_main:focus, :hover {
  border-color: #999999;
  outline: none;
}

.input_main:disabled {
  cursor: not-allowed;
}

.input_main.has-error {
  border-color: #E61739;
}

.input_icon {
  cursor: pointer;
  position: absolute;
  top: 0.6rem;
  right: 1.3rem;
}

.input-label-row {
  display: flex;
  align-items: center;
}