.button_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 3.3rem;
  cursor: pointer;
  outline: 0;
  border: 0;
  overflow: hidden;
  font-weight: 700;
  line-height: 1.1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.button_main:hover {
  opacity: 0.9;
}

.button_main:disabled {
  cursor: not-allowed;
  opacity: 1;
}

.button_main-scale {
  width: 100%;
}


.button_small {
  height: 1.7rem;
  padding: 0.3rem 1.1rem;
}

.button_medium {
  height: 2.3rem;
  padding: 0.6rem 1.1rem;
}

.button_large {
  height: 2.8rem;
  padding: 0.8rem 1.1rem;
}

.button_success {
  background-color: #12B247;
}


.button_danger {
  background-color: #E61739;
}

.button_gray {
  background-color: #4D4D4D;
}

.button_darkgray {
  background-color: #333333;
}

.button_white {
  background-color: #FFFFFF;
  color: #333333;
}
