.table-container {
    width: 100%;
    margin: 0 !important;
}

.table_no-data-container {
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: #363636;
    color: #F7FEFF;
}

.th-cell {
    width: 120px;
}

.th-cell:first-child,
.td-item:first-child {
    padding-left: 12px;
}

.th-cell_sort {
    background-color: inherit;
    color: #F7FEFF;
    padding: 0;
    border: 0;
    outline: 0;
}

.th-cell_enable-sort {
    cursor: pointer;
}