.tableWrap {
  max-height: 368px;
  overflow: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
  background-color: #363636;
  color: #f7feff;
}

table th button {
  background-color: inherit;
  color: inherit;
  padding: 0;
  border: 0;
  outline: 0;
}

table th button[data-sortable=true] {
  cursor: pointer;
}

table th,
table td {
  padding: 12px 8px;
  min-width: 60px;
}

thead tr th {
  position: sticky;
  top: 0;
}

tbody tr[data-empty=true] {
  text-align: center;
}

