.filter-panel_container {
  display: flex;
  gap: 12px;
  padding: 10px 8px;
  background-color: #2D2C2D;
}

.filter-panel_btn {
  background-color: #4B4A4C;
  color: #F7FEFF;
  padding: 2px 8px;
  border: 0;
  border-radius: 16px;
  cursor: pointer;
  outline: 0;
}

.filter-panel_btn:focus {
  background-color: #577594;
}

.filter-panel_btn-stops {
  background-color: #CE2829;
}