*, button, input {
    font-size: 1em;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #FFFFFF;
}

html {
    background-color: #000;
    font-size: 18px;
}

@media (max-width: 1800px) {
    html {
        font-size: 16px;
    }
}

@media (max-width: 1600px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 1400px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 8px;
    }
}

*::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.2rem;
}

*::-webkit-scrollbar-thumb {
    background-color: #AEB5BD;
    outline: 0 solid slategrey;
    border-radius: 100px;
    border-right: 2px #ffffff solid;
    background-clip: padding-box;
}
*::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

.pointer {
    cursor: pointer;
}

.strike {
    text-decoration: line-through;
}

/* for login buttons */
.is-blue {
    background: #45B4DC !important;
}

.tabs p {
    align-items: center;
    border-bottom-color: #dbdbdb;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;
}

.tabs li.is-active p {
    border-bottom-color: #485fc7;
    color: #485fc7;
}

.tabs a {
    color: #fff
}

.tabs a:hover {
    color: #b5b5b5;
    border-color: #b5b5b5;
}

.tabs li.is-active a {
    color: #3e8ed0
}